body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    padding: 0px;
    margin: 0px;
    background-color: rgb(0, 0, 0);
}

.navigation{
    position: fixed;
    display: flex;
    z-index: 100;
    justify-content: space-between;
    width: 100%;
    background: #000000;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
}

.naviUl {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
}

.naviLi {
    padding: 20px;
    font-weight: 300;
    font-size: 15px;
}

.naviLi:hover{
    cursor: pointer;
}

.logo {
    font-weight: 600;
    font-size: 20px;
}

.naviLi > a{
    color: white;
    text-decoration: none;
}

.fa-search{
    color: white;
    font-size: 50px;
}

.fa-bell{
    color: white;
    font-size: 50px;
}

.displayingMovie {
    position: relative;
    width: 100%;
    height: 80vh;
}

.displayingMovieImg {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.displayingMovieInformation {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    z-index: 10;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5%;
    color: white;
    background: #000000;
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
}

.displayingMovieInformation > h1{
    font-size: 3vw;
    margin: 0px;
}

.displayingMovieInformation > h5{
    margin: 0px 0px 10px 0px;
    font-weight: 500;
    font-size: 1vw;
}

.displayingMovieInformation > p{
    margin: 0px;
    width: 50%;
    font-weight: 300;
    font-size: 0.9vw;
}

.displayingMovieShadowCutter{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 50%;
    z-index: 1;
    background: #000000;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
}

.displayingMovieButtons{
    margin-top: 5%;
    display: flex;
    justify-content: left;
    width: 30%;
}

.watchNow{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    z-index: 11;
    border-radius: 10000px;
    width: 45%;
    aspect-ratio: 152.61/50;
    font-size: 0.7vw;
    background: #ffffff;
    color: black;
    cursor: pointer;
    border: none;
    font-weight: 400;
    transition: background 0.2s;
}

.watchNow:hover{
    background: rgb(25, 25, 25);
    transition: background 0.2s;
    color: white;
    .fa-play{
        color: white;
    }
}

.fa-play {
    color: black;
}

.detail{
    margin: auto;
    z-index: 11;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10000px;
    width: 40%;
    aspect-ratio: 152.61/50;
    font-size: 0.7vw;
    background-color: rgb(82, 82, 82);
    cursor: pointer;
    color: white;
    border: none;
    font-weight: 400;
}

.detail:hover{
    background: rgb(25, 25, 25);
    transition: background 0.2s;
}

.ffa-chevron-right{
    font-size: 30px;
}

.mainContainer{
    padding: 0 5%;
}

.SectionHeader{
    color: white;
    font-weight: 500;
    font-size: 1.5em;
}

.TrendingMovies{
    display: flex;
    height: 100%;
    justify-content: space-between;
}

.moviePoster{
    width: 100%;
    aspect-ratio: 2/3;
    border-radius: 10px;
    object-fit: cover;
}

.movie{
    width: 11.59%;
    transition: height 0.1s ease-out;
    border-radius: 10px;
    box-shadow: 0px 0px 50px #141414;
}

.movie:hover{
    cursor: pointer;
}

.shadowBottom{
    background: #000000;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10%;
    pointer-events: none;
}







.footer{
    height: 200px;
}





.movieDetail{
    position: fixed;
    background-color: rgb(0, 0, 0, 0.7);
    top: 0px;
    z-index: 100;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    border-radius: 10px 10px 10px 10px;
}

.detailContainer{
    position: relative;
    width: 50%;
    height: fit-content;
    background-color: rgb(15, 15, 15);
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    border-radius: 10px 10px 10px 10px;
}

.backgroundImgDetail{
    object-fit: cover;
    height: 40%;
    width: 100%;
    max-height: 785px;
    min-height: 500px;
    border-radius: 10px 10px 10px 10px;
}

.information{
    display: flex;
    justify-content: space-around;
    color: white;
    padding: 10px 5%;
    border-radius: 10px 10px 10px 10px;
}

.description{
    font-weight: 300;
    font-size: 13px;
    margin: 0px;
}

.shadowImg{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 50%;
    z-index: 1;
    background: #000000;
    background: linear-gradient(0deg, rgba(15, 15, 15, 1) 0%, rgba(15, 15, 15, 0) 100%);
}

.detailHeader{
    margin: 0px;
    cursor: default;
}

.detailInformation{
    width: 60%;
    cursor: default;
}

.genres{
    width: 30%;
}

.detailDetail{
    display: flex;
    align-items: center;
    font-weight: 200;
    font-size: 13px;
    margin: 0px;
    justify-content: space-around;
    width: 70%;
}

.fa-circle{
    font-size: 1px;
}

.WatchNowDetail{
    color: #000000;
    background-color: rgb(242, 242, 242);
    border-radius: 100000px;
    padding: 5px;
    width: 30%;
    aspect-ratio: 6/1;
    margin: 10% 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: background-color 0.2s;
}

.WatchNowDetail > p{
    margin: 0px;
    font-size: 0.8em;
}

.WatchNowDetail:hover{
    cursor: pointer;
    background-color: white;
}

.star{
    color: gold;
}

.star-empty{
    color: white;
}

.genreDisplay{
    padding: 0px;
    margin: 0px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.genreStyle{
    padding: 7px 10px;
    background-color: white;
    color: black;
    border-radius: 1000000px;
    width: fit-content;
    margin: 5px;
    cursor: default;
    max-height: 28px;
}

.genreStyle > p{
    font-size: 0.7em;
    margin: 0px;
    font-weight: 500;
}

.close{
    position: absolute;
    top: 10px;
    right: 10px;
    height: 30px;
    aspect-ratio: 1/1;
    background-color: rgb(0, 0, 0);
    opacity: 0.5;
    border-radius: 10000px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    cursor: pointer;
    transition: opacity 0.2s;
}

.close > p{
    margin: 0px;
    width: min-content;
    aspect-ratio: 1/1;
    color: white;
    height: min-content;
    width: max-content;
}

.close:hover{
    opacity: 0.8;
}

.casts{
    font-size: 0.75em;
    margin-top: 20px;
    margin-bottom: 0px;
}

.casts > span{
    font-weight: 700;
}

.tagsList{
    color: rgb(233, 233, 233);
    list-style: none;
    padding: 0px;
    display: flex;
    justify-content: left;
}

.Browsing{
    margin-top: 50px;
}

.tag{
    background-color: #252525;
    border-radius: 1000px;
    padding: 7px 14px;
    margin-left: 10px;
    cursor: pointer;
}

.tag > p {
    margin: 0px;
    font-size: 0.8em;
}

.currentTag {
    background-color: white;
    color: black;
}

.tagMovieDisplay{
    display: flex;
    flex-wrap: wrap;
}

.tagMovie{
    width: 11.7287%;
    margin: 1.215859%;
}