.navigation{
    top: 0px;
}

.movieHeader{
    color: white;
    font-size: 2.5em;
    margin-top: 30px;
    padding-left: 10px;
}

.container{
    padding: 50px;
}

.MovieDisplay{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 250px));
    column-gap: 75px;
    row-gap: 75px;
}