.navigation{
    top: 0px;
}

.movieHeader{
    color: white;
    font-size: 2.5em;
    margin-top: 30px;
    padding-left: 10px;
}

.container{
    padding: 50px;
}

.MovieDisplay{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    column-gap: 2%;
    row-gap: 40px;
}

.section{
    margin-top: 50px;
}

.pwHeader{
    color: white;
    margin: 10px 0px;
    font-size: 30px;
    font-weight: 500;
    padding-left: 10px;
}