.navigation{
    top: 0px;
}

.movieHeader{
    color: white;
    font-size: 2.5em;
    margin-top: 30px;
    padding-left: 10px;
}

.container{
    padding: 50px;
}

.MovieDisplay{
    display: flex;
    flex-wrap: wrap;
}

.section{
    margin-top: 20px;
}

.pwHeader{
    color: white;
    margin: 0px;
    font-size: 25px;
    font-weight: 500;
    padding-left: 10px;
}