body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    padding: 0px;
    margin: 0px;
    background-color: black;
    color: rgb(226, 226, 226);
    height: 100vh;
    -webkit-user-select: none; /* For Safari */
    -ms-user-select: none;    /* For IE 10 and 11 */
    user-select: none;        /* Standard syntax */
}

.mainContainer{
    border-radius: 10px;
    display: flex;
    width: 100%;
    height: 100vh;
}

.SignPage{
    width: 25%;
    padding-left: 10%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{ 
    background-color: rgb(26, 26, 26);
    width: 20%;
    height: min-content;
    padding: 3% 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    position: absolute;
    left: 10%;
}

.container > a{
    color: white;
    font-weight: 100;
    width: min-content;
    font-size: 15px;
}

.container > a:hover{
    font-weight: 400;
}

.container > h1{
   font-weight: 100;
   font-size: clamp(1.5em, 1vw ,1.865em ); 
   cursor: default;
   margin: 5px 0px 10px 0px;
}

.Moovie{
    font-weight: 800; 
    font-size: clamp(1.5em, 10vw ,1.865em );
}

.section > h3{
    margin: 5px 0px;
    font-weight: 500;
    font-size: 0.9em;
   cursor: default;
    width: auto;
}

.section > input{
    width: 96%;
    background-color: rgba(0, 0, 0, 0);
    border: 1px rgb(52, 52, 52) solid;
    color: white;
    border-radius: 5px;
    padding: 2%;
    height: 30px;
    outline: none;
    transition: border 0.2s;
}

.text {
    font-size: 11px;
    text-align: center;
    margin: 0px;
}

.text > a{
    color: white;
    font-weight: 500;
}

.section > input:focus{
    border: 1px rgb(255, 255, 255) solid;
}

.section{
    margin: 2% 0px;
    width: 100%;
}

.section > p{
    margin: 2px 0px;
    font-style: italic;
    color: red;
    font-size: 13px;
}

.btnDiv > button{
    width: 100%;
    height: 50px;
    background-color: rgb(240, 240, 240);
    border: none;
    color: black;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
    margin-top: 10%;
}

.btnDiv > button:hover{
    background-color: white;
}

.imggg{
    object-fit: cover;
    width: 75%;
    overflow: hidden;
    border-radius: 0px 10px 10px 0px;
}

.btnDiv{
    width: 100%;
    display: flex;
    justify-content: left;
}
